In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    'Pokemon': ['Bulbasaur', 'Ivysaur', 'Venusaur'],
    'Total': [318, 405, 525]
})

In [11]:
df2 = pd.DataFrame([
    ['Charmander', 309, 39, 52, 43, 60, 50, 65],
    ['Charmeleon', 405, 58, 64, 58, 80, 65, 80],
    ['Charizard', 534, 78, 84, 78, 109, 85, 100]
],
columns = ['Name', 'Total', 'Hp', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'])

In [30]:
charizard = df2[df2.Name == 'Charizard']
rows = df2.iloc[-2:]

In [32]:
mander_izard = df2[df2.Name.isin(['Charmander', 'Charizard'])]

In [15]:
print(df2)

         Name  Total  Hp  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  Charmander    309  39      52       43       60       50     65
1  Charmeleon    405  58      64       58       80       65     80
2   Charizard    534  78      84       78      109       85    100

In [17]:
print(charizard)

        Name  Total  Hp  Attack  Defense  Sp. Atk  Sp. Def  Speed
2  Charizard    534  78      84       78      109       85    100

In [31]:
print(rows)

         Name  Total  Hp  Attack  Defense  Sp. Atk  Sp. Def  Speed
1  Charmeleon    405  58      64       58       80       65     80
2   Charizard    534  78      84       78      109       85    100

In [33]:
print(mander_izard)

         Name  Total  Hp  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  Charmander    309  39      52       43       60       50     65
2   Charizard    534  78      84       78      109       85    100